.DS_Store
node_modules
downloads
frontend/dist
firebase-debug.log
.firebase

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.vs/QHacks/v16/.suo
/.vs/slnx.sqlite
/midiconversion/auth.py